.xmcentered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.xmplayercontainer {
  background:#000;
}

.xmhscroll {
  overflow: auto;
  margin-bottom: 14px;
}

.xmhscroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.xmhscroll::-webkit-scrollbar:horizontal {
    height: 11px;
}

.xmhscroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    border: 1px solid #93C3E9; /* should match background, can't be transparent */
    background-color: #A0D4FD;
}

.xmhscroll::-webkit-scrollbar-track {
    background-color: #333;
    border-radius: 8px;
}